<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GTMAppAuthExampleViewController</key>
	<string>谷歌日历登录</string>
	<key>CalculateViewController</key>
	<string>链试计算器</string>
	<key>MacroDefinitionViewController</key>
	<string>宏定义使用</string>
	<key>ReactiveCocoaViewController</key>
	<string>RAC使用</string>
	<key>PresentViewController</key>
	<string>PresentVC测试</string>
	<key>FolderViewController</key>
	<string>文件夹拖拽效果</string>
	<key>GoogleCalendarViewController</key>
	<string>谷歌日历数据获取</string>
	<key>Office365ViewController</key>
	<string>Office365数据获取</string>
</dict>
</plist>
