*{
    margin: 0;
    padding: 0;
    /*border: solid red 1px;*/
}
body{
	font-family:"Itc md";
	color: #554344;
}
.container{
    width: 96%;
	padding:0;
    height: 576px;
    background: #fff;
    margin: 10px auto 0;
}
.container .row{
	margin-left:0;
	margin-right:0;
}
#Dash-first{
    width: 100%;
    height: 250px;
    margin: 0;
}
.Dash-table{
    /*width: 860px;*/
    /*margin-left: 80px;*/
    font-size: 16px;
    width: 99%;
    margin-top: -40px;
}
.Dash-table tr{
    background-color: rgb(238,236,219);
    text-align: left;
    border: 2px #fff solid;
    width: 100%;
}
.Dash-table th{
    text-align: right;
    width: 40%;
}
.Dash-table td{
    width: 270px;
    padding-left: 50px;
}
.Leader-Dash-table{
    font-size: 16px;
    width: 100%;
    margin-top: -20px;
}
.Leader-Dash-table tr{
    background-color: #f0eee1;
    text-align: left;
    border: 2px #fff solid;
    width: 100%;
    height:24px;
}
.Leader-Dash-table th{
    text-align: left;
    width: 17%;
    font-size: 15px;
}
.Leader-Dash-table td{
    font-size: 14px;
	text-align:left;
}
.Leader-Dash-table td:nth-child(2){
	width:32.2%;
}
.Leader-Dash-table td:nth-child(3){
    width:32%;
}
.Leader-Dash-table td:nth-child(4){
   width:18.8%;
}

#Dash-second{
    width: 100%;
    height: 210px;
    margin: 0;
}
.Dash-second-table{
    /*margin-left: 80px;*/
    font-size: 16px;
    width: 100%;
    margin-top: -20px;
}
.Dash-second-table tr{
    background-color: #f0eee1;
    text-align: center;
    border: 2px #fff solid;
}
.Dash-second-table th{
    width: 9%;
	font-size:15px;
}
.Dash-second-table td{
    text-align: left;
	font-size:14px;
}
.Dash-second-table tr td:nth-child(2) {
	width:18.4%;
}
.Dash-second-table tr td:nth-child(3) {
	width:19.8%;
}
.Dash-second-table tr td:nth-child(4) {
	width:18.8%;
}
.Dash-second-table tr td:nth-child(5) {
	width:19.7%;
}
#Dash-fa-table {
	width:50%;
}
#Dash-fa-table th{
	width:53%;
}
#Dash-fa-table tr td:nth-child(2) {
	width:56%;
}
#Dash-fa-table tr td:nth-child(3) {
	width:17%;
}
#mychart0{
    margin-left: 10px;

}
#mychart{
    margin-left: 10px;
}
#mychart1{
    margin-left: 10px;
}
#mychart2{
    margin-left: 10px;
}
.Dash-sum{
    width: 300px;
    font-size: 21px;
    text-align: center;
    margin-left: 300px;
}
/*monthly*/
#main{
    /*width: 870px;*/
    height: 170px;
    width: 800px;
    margin-top: 20px;
}
.Actual{
    width: 30px;
    height: 10px;
    margin-top: 100px;
    background-color: rgb(227,90,129);
}
.Target{
    width: 30px;
    height: 10px;
    background-color: rgb(246,179,69);
}
/*ByProduct*/
#B-title{
    font-size: 17px;
    height: 61px;
    border-bottom: 1px rgb(209,208,206) solid;
}
#B-title a:hover{
    color: rgb(199,39,55);
}
.pa{
    width:120px;
    text-align: center;
}
.pa0{
    width:140px;
    text-align: center;
}
.pa1{
    width:150px;
    text-align: center;
}
.pa2{
    width:175px;
    text-align: center;
}
#view{
    width: 100%;
    height: 340px;
    margin-top: 30px;
}
.B-line{
    margin-top: 20px;
}
.B-line td{
    text-align: center;
    font-size: 15px;
    width: 130px;
    height: 30px;
    color: rgb(209,208,206);
    border: 1px rgb(209,208,206) solid;
}
.B-line a{
    display: block;
    line-height: 30px;
    width: 170px;
    height: 30px;
    text-decoration: none;
}
.B-tab{
	margin-top:50px;
}
.P-second-title{
	position:relative;
	z-index:5555;
}
#F-MTD tr,#F-QTD tr,#F-YTD tr{
    height: 39px;
    text-align: center;
	border-bottom:1px solid rgb(225,224,218);
}
#F-MTD tr:first-child,#F-QTD tr:first-child,#F-YTD tr:first-child {
	height:24px;
}
#F-MTD th,#F-QTD th,#F-YTD th{
    font-size: 16px;
    color: #b3b1a8;
	float:left;
	display:block;
	width:145px;
	text-align:center;
}

#F-MTD th:first-child,#F-QTD th:first-child,#F-YTD th:first-child{
	text-align:left;
	margin-left:9px;
	padding-left:8px;
    width: 160px;
}
#F-MTD td,#F-QTD td,#F-YTD td{
    width: 145px;
    height: 33px;
    line-height: 33px;
	display:block;
	float:left;
	margin-top:3px;
}
.bp-border-1, .bp-border-2, .bp-border-3, .bp-border-4, .bp-border-5, .bp-border-6{
	position:absolute;	
	left:0;
	height:33px;
	width:5px;
}
.bp-border-1 {
	background-color:#e86487;
}
.bp-border-2 {
	background-color:#fbbf56;
}
.bp-border-3 {
	background-color:#97CB5D;
}
.bp-border-4 {
	background-color:#46D3BD;
}
.bp-border-5 {
	background-color:#22A8DA;
}
.bp-border-6 {
	background-color:#9962D2;
}
.tdb1{
	background:#e86487;
}
.tdb2{
	background:#FBBF56;
} 
.tdb3{
	background:#97CB5D;
} 
.tdb4{
	background:#46D3BD;
} 
.tdb5{
	background:#22A8DA;
} 
.tdb6{
	background:#9962D2;
}  
.td1,.td2,.td3,.td4,.td5,.td6{
	text-align: left;
    padding-left: 8px;
	margin-left:9px;
    width: 160px !important;
}
.td7{
    text-align: left;
    padding-left: 13px;
    margin-left:9px;
    width: 160px !important;
}
#F-MTD tr:last-child, #F-QTD tr:last-child,#F-YTD tr:last-child{
	border-bottom:none;
}
/*A-Dashboard*/
#mychart3{
    margin-left: -30px;
    margin-top: -10px;
}
#mychart4{
    margin-left: -95px;
    margin-top: -10px;
}
#mychart5{
    margin-left: -95px;
    margin-top: -10px;
}
#mychart6{
    margin-left: -95px;
    margin-top: -10px;
}
#mychart7{
    margin-left: -95px;
    margin-right: -150px;
    margin-top: -10px;
}
#mychart8{
    margin-left: 15%;
    margin-top: -20px;
}
#mychart9{
    margin-left: 30px;
    margin-top: -20px;
}
.mychart10{
    margin-left: 55px;
    margin-top: -30px;
}
.mychart11{
    margin-left: 30px;
    margin-top: -30px;
}
.fa{
	width:400px;
	font-size: 16px;
	margin-top: -90px;
	margin-left: 55%;
    line-height: 25px;
	color: rgb(83,83,83);
}
.leftContent{
    width: 100%;
    height: 50px;
    position: fixed;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 5px;
}
.leftContent p{
    line-height: 10px;
}
.leftContent p:nth-child(1){
    font-weight:bold;
}


/*club&awards*/
.C-up{
    text-align: right;
    /*height: 70px;*/
    margin-top: -10px;
}
.C-up img{
    width: 20px;
    height: 20px;
}
.progress{
    width: 88%;
    height: 30px;
    margin-left: 15px;
    margin-top: -20px;
}
.progress-bar{
	-webkit-transition:width 1.5s ease-in-out;
	transition:width 1.5s ease-in-out;
}
.text{
    /*width: 90%;*/
    height: 30px;
    margin-left: 15px;
    text-align: left;
    font-size: 18px;
    color: #554344;
	line-height:32px;
    position: absolute;
}
.C-under{
    margin-top: -20px;
}
.C-under div{
    float: left;
}
.C-add div{
    width: 240px;
    margin-left: 40px;
}
.C-add2 div{
    width: 200px;
    margin-left: 10px;
}
.C-top{
    margin-left: 15px;
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.C-target{
    margin-left: 20px;
    text-align: center;
    margin-top: 10px;
}
.C-target p{
    font-size: 18px;
    margin-top: 20px;
}
.C-target1{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 60px;
    text-align: center;
}

/*AG-Club&Awards*/
.AG-target{
    width: 100%;
    margin-top: 30px;
}
.AG-target tr{
    background-color: rgb(137,137,137);
    height: 50px;
}
.AG-target th{
    width: 300px;
    font-size: 18px;
    text-align: center;
    color: rgb(255,255,255);
    border-right: 4px rgb(255,255,255) solid;
}
.AG-target td{
    width: 600px;
    font-size: 18px;
    text-align: center;
    color: rgb(255,255,255);
}
.AG-table{
    width: 100%;
    margin-top: 5px;
}
.AG-table tr{
    background-color: rgb(238,236,219);
    height: 50px;
}
.AG-table th{
    width: 300px;
    height:80px;
    font-size: 18px;
    text-align: center;
    border-right: 4px rgb(255,255,255) solid;
}
.AG-table select{
    width: 200px;
}
.AG-table td{
    width: 150px;
    font-size: 18px;
    text-align: left;
}

/*Drill down*/
#drill_down {
}
#drill_down table{
    width: 96%;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
	position:relative;
}
#drill_down table th{
    height: 25px;
    line-height: 25px;
}

/*#drill_down .drill-down-tr1 tr th:nth-child(1){
    width:312px;
}*/
#drill_down .drill-down-tr1 tr th,#drill_down .drill-down-tr1 tr:first-child td {
	width:84px;
}
#drill_down .drill-down-tr1 tr th:nth-child(1),#drill_down .drill-down-tr1 tr:first-child td:nth-child(1) {
	width:90px;
}
#drill_down .drill-down-tr1 tr th:nth-child(2),#drill_down .drill-down-tr1 tr:first-child td:nth-child(2) {
	width:142px;
}
#drill_down .drill-down-tr1 tr th:nth-child(3),#drill_down .drill-down-tr1 tr:first-child td:nth-child(3) {
	width:80px;
}

#drill_down .drill-down-tr2 tr th,#drill_down .drill-down-tr2 tr:first-child td {
	width:100px;
}
#drill_down .drill-down-tr2 tr th:nth-child(1),#drill_down .drill-down-tr2 tr:first-child td:nth-child(1) {
	width:130px;
}
#drill_down .drill-down-tr2 tr th:nth-child(2),#drill_down .drill-down-tr2 tr:first-child td:nth-child(2) {
	width:162px;
}
#drill_down .drill-down-tr2 tr th:nth-child(3),#drill_down .drill-down-tr2 tr:first-child td:nth-child(3) {
	width:90px;
}

#drill_down table th img{
	margin-left:5px;
	vertical-align:middle;
    height: 12px;
    width: 14px;
}
#drill_down table td{
    /*height: 28px;*/
    /*line-height: 28px;*/
	height:28px;
	font-size:12px;
}
#drill_down table thead{
    background-color: rgb(137,137,137);
	position:fixed;
	top:0;
	left:2%;
	width:96%;
	z-index:1;
}
#drill_down table thead *{
    font-size: 14px;
    color: #fff;
}
#drill_down table tbody {
	position:relative;
	top:60px;
	left:0;
	display:block;
	margin-bottom:60px;
}
#drill_down table tbody tr{
    background-color: rgb(237,234,219);
    border-bottom: solid #fff 5px;

}
#drill_down .name{
    height: 100px;
	font-weight:900;
}
#drill_down .pardata{
    background-color: #fff;
	font-weight:900;
}
#drill_down .box{
    width: 100%;
    height: 20px;
	background-color:#fff;
}
#drill_down .box div{
	border-top:1px solid rgb(137, 137, 137);
	margin-left:20px;
	height:0;
}
#drill_down .box:last-child div {
	border:none;
}
.selected{
    background-image: url("../images/panel-selected.png");
    background-position:center bottom;
    background-repeat:no-repeat;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    width: 15px;
    height: 8px;
    display: block;
    position: absolute;
    margin-left: -webkit-calc(50% - 7.5px);
    margin-top: 9px;
    z-index: 999;
}


/*MDRT*/

.content{
	width: 100%;
	overflow:hidden;
}

#mdrt .data{
	/*    position:relative;*/
	right:70px;
	top:30px;
	/*    margin-top:0px;*/
}

.data{
	position: absolute;
	/*margin-left: 85%;*/
	right: 10%;
	margin-top:-35px;
}
.data img{
    width: 20px;
    height: 20px;
}
.mark_mdrt{
	display: inline-block;
	margin-top: 15px;
	margin-left: 10px;
}
.tb_mdrt{
	margin:0 auto;
	width: 984px;
}
.tb_mdrt  h1.mdrt-h {
	font-size:28px;
	font-weight:900;
}
.w_bar{
	position: relative;
	margin-top: 70px;
}

#mdrt-table {
    width: 100%;
    margin-left:0px;	
}
#mdrt-table th {
    text-align: center;
}
#mdrt-table td{
    height: 30px;
    text-align: center;
    border-bottom: 1px rgb(225,224,218) solid;
}
#mdrt-table tr>td:first-child{
	text-align:left;
}
.mdrt-tab{
    margin-left: 1px;
    margin-top: 40px;
}
#mdrt .progress{
    height: 30px;
    margin-left: 15px;
    margin-top: -10px;
}
#mdrt .progress-bar{
	-webkit-transition:width 1.5s ease-in-out;
	transition:width 1.5s ease-in-out;
	background-color:#fbbf56;
}
.num_img{
	position: absolute;
	margin-left: 5px;
	margin-top: -50px;
	width: 20px;
	height: 20px;
	text-align: center;
}
.num_img img{
	width: 20px;
	height: 20px;
}

/*Agent Leader*/
.vs-goal{
    font-size: 16px;
    width: 100%;
    margin: 20px 0 0 0;
    border: 2px #fff solid;
}
.vs-goal div{
	float:left;
    background-color: rgb(238,236,219);
    text-align: left;	
	font-size:14px;
}
.vs-goal div:nth-child(1){
	width:8%;
}
.vs-goal div:nth-child(2){
	width:20%;
}
.vs-goal div:nth-child(3){
	width:19%;
}
.vs-goal div:nth-child(4){
	width:19%;
}
.vs-goal div:nth-child(5){
	width:20%;
}
.vs-goal div:nth-child(6){
	width:14%;
}
#dash-table-row {
	margin-left:0;
	margin-right:0;
}
.mdrt-progress-current{
	position: absolute;
    top: 100%;
    left: 20px;
}
.drill-td-fyc,.drill-td-case{
	background-color:rgb(225,75,117);
	line-height:28px;
	font-weight:400;
	height:28px;
	margin:0 4px;
	display:block;
	color:#fff;
}
.drill-td-fyc-f {
	margin-left:0;
}
.drill-td-case {
	background-color:rgb(72,205,172);
}
.drill-td-case-l {
	margin-right:0;
}
#monthly_mark_ul {
	width:95px;
	position:absolute;
	top:60px;
	left:2%;
}
#monthly_mark_ul li{
	height:26px;
	line-height:26px;
	list-style:none;
}
#monthly_mark_ul li:first-child {
	margin-bottom:6px;
}
#monthly_mark_ul li span {
	width:18px;
	height:10px;
	margin:8px 5px;
	float:left;
	display:block;
}
#monthly_mark_ul li:first-child span{
	background-color:#e86478;
}
#monthly_mark_ul li:last-child span{
	background-color:#fbbf56;
}
@font-face {
  font-family: 'DIN';
  src: url('../fonts/DIN Regular.otf');
}
@font-face {
  font-family: 'Itc bk';
  src: url('../fonts/ITCAvantGardeStd-Bk.otf');
  font-weight:100;
}
@font-face {
  font-family: 'Itc md';
  src: url('../fonts/ITCAvantGardeStd-Md.otf');
  font-weight:100;
}
@font-face {
  font-family: 'Itc demi';
  src: url('../fonts/ITCAvantGardeStd-Demi.otf');
  font-weight:100;
}